label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

#edit-sale-page {
  display: flex;
  align-items: center;
  width: 100%;
}

#overlapping-div {
  display: flex;
  align-items: center;
  width: 90%;
  top: 10%;
  background-position: center;
  position: absolute;
  z-index: 2;
}

.submit-button {
  background-color: #d1410c;
}
