#create-event-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  padding: 50px 0px;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#create-event-page {
  height: 100%;
  width: 100%;
}

#create-event-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #39364f;
  position: sticky;
  top: 0;
  z-index: 10;
}

#create-event-navbar-logo{
  margin: 0 40px;
  color: white;
}


#create-event-profile-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3659e3;
  margin: 0 40px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
   width: 50%;
   height: 50px;
   border: .5px solid #dedede;
   margin: 5px;
   padding: 5px;
   border-radius: 5px;
}

#address-finder {
  width: 100%;
}

#map-div {
  height: 400px;
  width: 400px;
}
