#logo {
  font-family: Neue Plak, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
  color: #f05537
}

#logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
