.footer {
  background-color: #1e0a3c;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  width: 100%;
  font-size: .75rem;
  position: fixed;
  bottom: 0;
  z-index: 999;
}
.footer-link {
  color: white;
}

.title-year {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.footer-title{
  margin-left: 3px;
}
