#sale-page {
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blurry-background {
  width: 100%;
  height: 475px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  border-top: .5px solid white;
  z-index: 1;

}

#sale-page-image {
  height: 400px;
  width: 50%;
  background-position: center;
  top: 10%;
  left: 25%;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  filter: none;
  z-index: 2;
}

#sale-page-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 90%;
  padding-top: 10px;
  background-color: white;
}

#attending-button {
  background-color: #179c55;
  width: 300px;
  height: 40px;
  color: white;
  font-weight: bold;
}

#attending-button:hover {
  background-color: #18ad5d;
}

#sale-owner-buttons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#sale-owner-buttons-div > * {
  margin: 5px;
  padding: 5px;
  border: .5px solid #dedede;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  width: 40%;
  height: 40px;
  text-align: center;
}

#sale-owner-buttons-div > :first-child {
  background-color: #179c55;
}

#sale-owner-buttons-div > :first-child:hover {
  background-color: #18ad5d;
}

#sale-owner-buttons-div > :last-child {
  background-color: rgb(199, 0, 0);
}

#sale-owner-buttons-div > :last-child:hover {
  background-color: rgb(210, 0, 0);
  cursor: not-allowed;
}
