#sale-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sale-page-image {
  height: 250px;
}

#sale {

}

#sale:hover {
  transition-property: all;
  transition-duration: .3s;
  box-shadow: 10px 10px 40px #dedede;
}
