#search-bar-div {
  width: 500px;
  background-color: #f6fafa;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-bar-div:focus-within{
  border: 2px solid rgb(91, 91, 255);
  border-radius: 5px;
}

#search-bar {
  width: 90%;
  height: 90%;
  border: none;
  background-color: #f6fafa;
}

#search-bar:focus {
  outline: none;
}
