body {
  margin: 0;
}
#root{
  font-family: Neue Plak, Roboto, Helvetica, Tahoma, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  min-width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
div {
  width: 100%;
}

.input {
  width: 17.25em;
  min-height: 3.5em;
  border: .1em solid #ccc;
  background-color: #f6fafa;
  margin: .1em;
  border-radius: .25em;
}

.input:hover {
  border: .1em solid #aaa;
  transition-duration: .3s;
}

.input:focus{
  transition-duration: .3s;
  border: .1em solid rgb(91, 91, 255);
  border-radius: .25em;
  outline: none;
}
.dropdown, .button{
  width: 17.75em;
  min-height: 3.5em;
  border: .1em solid #ccc;
  border-radius: .25em;
  outline: none;
}

.button{
  margin: 1em;
}
.button:hover{
  filter:brightness(1.1);
  transition-duration: .3s;
}
.submit-button{
  background-color: #d1410c;
  color: white;
}

.input-label{
  margin: .5em;
  font-weight: 600;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}
