body {
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  color: green;
  font-weight: bold;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
