a {
  text-decoration: none;
  color: green;

}
p {
  font-size: 20px;
}

#sales-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
 #sale{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 #sales-list-sale-image {
   height: 100px;
 }

