#sales-list-title {
  margin-left: 20px;
}

#sales-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
 #sale{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 450px;
    background-color: white;
 }

 #sale-image-div {
   height: 300px;
   width: 100%;
   background-size: 100% 100%;
   background-position: center top;
   border: .25px solid #dedede;
 }

#sale-title {
  color: black;

}

#date-and-time {
  color: #f05537
}

#sale-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}
